Flask
Flask-SQLAlchemy==3.0.2
psycopg2-binary
gunicorn
python-dotenv
flask-cors
asgiref
flake8
flask-jwt-extended
Werkzeug
Flask-Migrate==3.1.0
SQLAlchemy==1.4.18
httpx
pytest-flask
hdwallet
python-dotenv